.CodigoColor {
  position: absolute;
  z-index: 2;
  margin: .75em;
  background-color: white;
  padding: .5em;
  box-shadow: .05em .05em .1em rgba(0, 0, 0, .1);
}

.CodigoColor__titulo {
  font-size: .6em;
  margin-bottom: 1em;
  max-width: 4em;
}

.CodigoColor__color {
  display: flex;
  margin-bottom: .25em;
  align-items: center;
}

.CodigoColor__color:last-child {
  margin-bottom: 0em;
}

.CodigoColor__cuadrito {
  width: .75em;
  height: .75em;
  margin-right: .25em;
}

.CodigoColor__valor {
  font-size: .7em;
  font-weight: 600;
  color: rgba(0, 0, 0, .75);
}