.CodigoColor {
  position: absolute;
  z-index: 2;
  margin: .75em;
}

.CodigoColor__color {
  display: flex;
  margin-bottom: .25em;
  align-items: center;
}

.CodigoColor__cuadrito {
  width: .75em;
  height: .75em;
  margin-right: .25em;
}

.CodigoColor__valor {
  font-size: .7em;
  font-weight: 600;
  color: rgba(0, 0, 0, .75);
}