* {
  box-sizing: border-box;
}

.App {
  display: flex;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  flex-direction: column;
}

.App__contenedor_principal {
  display: flex;
  flex: 1;
}