.Sidebar {
  width: 12em;
  background-color: white;
  color: #212529;
  padding: .75em 1.3em .65em .65em;
}

.Sidebar__titulo {
  font-size: .65em;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5em;
  line-height: 1.25;
  color: #212529;
}

.Sidebar__contenedor_parametro {
  margin-bottom: 1.25em;
  display: flex;
  flex-direction: column;
}

.Sidebar__semana {
  font-size: .7em;
  font-weight: 600;
}

.Sidebar__label {
  font-size: .8em;
  color: #212529;
  font-weight: 600;
  margin-bottom: .75em;
}

.Sidebar__selector {
  padding: .25em;
  font-size: .8em;
  background-color: #fff;
  color: #212529;
  margin-top: .25em;
  border-radius: .25em;
  cursor: pointer;
  font-weight: 600;
}

.Sidebar__opcion {
  background-color: #fff;
  color: #212529;
}

.Sidebar__label_checkbox {
  font-size: .7em;
  color: #212529;
  font-weight: 600;
  margin-bottom: .25em;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
