.OtraSidebar {
  width: 0em;
  overflow: hidden;
  transition: all .25s ease-in-out;
  padding: .65em;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: .75em;
  top: .75em;
  background-color: white;
  height: 20vw;
  border-radius: .15em;
  box-shadow: 0 .15em .15em rgba(0, 0, 0, .1);
  background-color: white;
}

.OtraSidebar--abierta {
  width: 27vw;
}

.OtraSidebar__titulo {
  font-size: .8em;
  font-weight: 600;
}