.OtraSidebar {
  width: 0em;
  overflow: hidden;
  transition: all .25s ease-in-out;
  padding: .65em;
  display: flex;
  flex-direction: column;
}

.OtraSidebar--abierta {
  width: 25vw;
}

.OtraSidebar__titulo {
  font-size: .7em;
  text-transform: uppercase;
  font-weight: 600;
}